Advanced Filtering

In [1]:
import  pandas as pd

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York']
}

df=pd.DataFrame(data)

df

      Name  Age         City
0    Alice   23     New York
1      Bob   30  Los Angeles
2  Charlie   25      Chicago
3    David   35     New York

In [14]:
filter_df=df[(df["City"]=="New York") & (df["Age"]>25)]

filter_df

    Name  Age      City
3  David   35  New York