Grouping and Aggregation

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Data for the DataFrame
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 55000, 70000, 75000, 60000]
}

df=pd.DataFrame(data)
df

  Department Employee  Salary
0         HR    Alice   50000
1         HR      Bob   55000
2         IT  Charlie   70000
3         IT    David   75000
4    Finance      Eve   60000

In [33]:
avg_salary_per_dept=df.groupby("Department")["Salary"].mean()
avg_salary_per_dept.sort_values(ascending=False)

Department
IT         72500.0
Finance    60000.0
HR         52500.0
Name: Salary, dtype: float64

In [22]:
total_salary_per_dept=df.groupby("Department")["Salary"].sum()
total_salary_per_dept

Department
Finance     60000
HR         105000
IT         145000
Name: Salary, dtype: int64

In [31]:
total_salary_per_dept.idxmax().values[0]

'IT'

In [26]:
total_salary_per_dept = df.pivot_table(values="Salary",index="Department",aggfunc="sum")
total_salary_per_dept

            Salary
Department
Finance      60000
HR          105000
IT          145000

In [29]:
total_salary_per_dept.idxmax()

Salary    IT
dtype: object