Pivot Tables

In [1]:
import pandas as pd

In [8]:
data = {
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'Product': ['A', 'A', 'B', 'B'],
    'Sales': [100, 150, 200, 250]
}


df=pd.DataFrame(data)


df

         Date Product  Sales
0  2023-01-01       A    100
1  2023-01-01       A    150
2  2023-01-02       B    200
3  2023-01-02       B    250

In [10]:
pivot_table=df.pivot_table(index="Date",columns="Product",values="Sales",aggfunc="sum")

pivot_table.fillna(0)

Product         A      B
Date
2023-01-01  250.0    0.0
2023-01-02    0.0  450.0