Applying Functions

In [1]:
import pandas as pd

In [2]:
data={
    "A":[1,2,3],
    "B":[4,5,6]
}

df=pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
df["C"]=df["A"]+df["B"]
df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [7]:
df['A']=df['A'].apply(lambda x:x**2)

df

    A  B  C
0   1  4  5
1  16  5  7
2  81  6  9

In [8]:
df

    A  B  C
0   1  4  5
1  16  5  7
2  81  6  9