Handling DateTime

In [4]:
import pandas as pd

In [2]:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03'],
    'Value': [10, 20, 30]
}

df=pd.DataFrame(data)
df

         Date  Value
0  2023-01-01     10
1  2023-01-02     20
2  2023-01-03     30

In [5]:
df["Date"]=pd.to_datetime(df['Date'])

df

        Date  Value
0 2023-01-01     10
1 2023-01-02     20
2 2023-01-03     30

In [6]:
filtered_df=df[df['Date'].dt.month==1]

filtered_df

        Date  Value
0 2023-01-01     10
1 2023-01-02     20
2 2023-01-03     30