MultiIndex

In [1]:
import pandas as pd

In [4]:
data = {
    'Level1': ['A', 'A', 'B', 'B'],
    'Level2': ['X', 'Y', 'X', 'Y'],
    'Value': [10, 20, 30, 40]
}


df=pd.DataFrame(data)
# Set the MultiIndex
df.set_index(['Level1', 'Level2'], inplace=True)
df

               Value
Level1 Level2
A      X          10
       Y          20
B      X          30
       Y          40

In [5]:
value = df.loc[('A', 'Y'), 'Value']

value

20

In [6]:
df_reset=df.reset_index()

df_reset

  Level1 Level2  Value
0      A      X     10
1      A      Y     20
2      B      X     30
3      B      Y     40

In [7]:
df

               Value
Level1 Level2
A      X          10
       Y          20
B      X          30
       Y          40